<%- include("partials/header"); -%> 

    <h1>Home</h1>
    <p><%= homeStartingContent %> </p>

    <% posts.forEach(function(item){ %>
       
        <h1><%= item.title %></h1>
        <% let postBody = item.body %> 
        <% body = postBody.substring(0, 100) + "..."; %>
        <p>
            <%= body %>
            <a href="/post/ + <%= item.title %> + "  >Read More</a>
        </p>
        
    <% }); %>

<%- include("partials/footer"); -%> 